{% extends 'base.html' %}
{% load static %}
<html lang="en">
{% block title %}
Activities
{% endblock title %}
{% block body_content %}
<main id="main">

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Activities</h2>
        </div>
        <h4 style="color:MediumSeaGreen;font-weight:bold;font-size: 25px;" class="section-title">Three Kinds of Exercise
          That Boost Heart Health</h4>
        <img src="{% static '\img\activity.jpg' %}" alt="two women playing sports" style="width:346px;height:230px;float:right;">

        <div class="rtf ">
          <p>Being physically active is a major step toward good heart health. It’s one of your most effective tools for
            strengthening the heart muscle, keeping your weight under control and warding off the artery damage from
            high cholesterol, high blood sugar and high blood pressure that can lead to heart attack or stroke.&nbsp;
          </p>
        </div>


        <p>It’s also true that different types of exercise are needed to provide complete fitness. “Aerobic exercise and
          resistance training are the most important for heart health,” says Johns Hopkins exercise physiologist&nbsp;<a
            href="https://www.hopkinsmedicine.org/profiles/results/directory/profile/7368725/kerry-stewart">Kerry J.
            Stewart, Ed.D.</a>&nbsp;“Although flexibility doesn’t contribute directly to heart health, it’s nevertheless
          important because it provides a good foundation for performing aerobic and strength exercises more
          effectively.”</p>
        <p>Here’s how different types of exercise benefit you.</p>



        <h2 style="color:MediumSeaGreen;font-weight:bold;font-size: 25px;">Aerobic Exercise</h2>
        <p><strong><em>What it does:</em></strong>&nbsp;Aerobic exercise improves circulation, which results in lowered
          blood pressure and heart rate, Stewart says. In addition, it increases your overall aerobic fitness, as
          measured by a treadmill test, for example, and it helps your cardiac output (how well your heart pumps).
          Aerobic exercise also reduces the risk of type 2 diabetes and, if you already live with diabetes, helps you
          control your blood glucose.</p>
        <p><strong><em>How much:</em></strong>&nbsp;Ideally, at least 30 minutes a day, at least five days a week.</p>
        <p><strong><em>Examples</em>:</strong>&nbsp;Brisk walking, running, swimming, cycling, playing tennis and
          jumping rope. Heart-pumping aerobic exercise is the kind that doctors have in mind when they recommend at
          least 150 minutes per week of moderate activity.</p>


        <h2 style="color:MediumSeaGreen;font-weight:bold;font-size: 25px;">Resistance Training (Strength Work)</h2>
        <p><strong><em>What it does:</em></strong>&nbsp;Resistance training has a more specific effect on body
          composition, Stewart says. For people who are carrying a lot of body fat (including a big belly, which is a
          risk factor for heart disease), it can help reduce fat and create leaner muscle mass. Research shows that a
          combination of aerobic exercise and resistance work may help raise HDL (good) cholesterol and lower LDL (bad)
          cholesterol.</p>
        <p><strong><em>How much:</em></strong>&nbsp;At least two nonconsecutive days per week of resistance training is
          a good rule of thumb, according to the American College of Sports Medicine.</p>
        <p><strong><em>Examples:</em></strong>&nbsp;Working out with free weights (such as hand weights, dumbbells or
          barbells), on weight machines, with resistance bands or through body-resistance exercises, such as push-ups,
          squats and chin-ups.</p>


        <h2 style="color:MediumSeaGreen;font-weight:bold;font-size: 25px;">Stretching, Flexibility and Balance</h2>
        <p><strong><em>What they do:</em></strong>&nbsp;Flexibility workouts, such as stretching, don’t directly
          contribute to heart health. What they do is benefit musculoskeletal health, which enables you to stay flexible
          and free from joint pain, cramping and other muscular issues. That flexibility is a critical part of being
          able to maintain aerobic exercise and resistance training, says Stewart.</p>
        <p>“If you have a good musculoskeletal foundation, that enables you to do the exercises that help your heart,”
          he says. As a bonus, flexibility and balance exercises help maintain stability and prevent falls, which can
          cause injuries that limit other kinds of exercise.</p>
        <p><strong><em>How much:</em></strong>&nbsp;Every day and before and after other exercise.</p>
        <p><strong><em>Examples:</em></strong>&nbsp;Your doctor can recommend basic stretches you can do at home, or you
          can find DVDs or YouTube videos to follow (though check with your doctor if you’re concerned about the
          intensity of the exercise). Tai chi and yoga also improve these skills, and classes are available in many
          communities.</p>

    </section>
    <!-- End Services Section -->

  </main>
{% endblock body_content%}
