{% extends 'base.html' %}
{% load static %}
<html lang="en">
{% block title %}
Recipes
{% endblock title %}
{% block body_content %}
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="breadcrumb-hero">
        <div class="container">
          <div class="breadcrumb-hero">
            <h2 style="text-align: center;">Healty Meals </h2>
          </div>
        </div>
      </div>

    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container">

        <div class="row">

          <div class="col-lg-4  col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <article class="entry">

              <div class="entry-img">
                <img src="{% static '\img\meal1.PNG' %}" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="{% url 'blogs:recipes1' %}">French Beans and Mustard Greens Salad</a>

              </h2>
              <div class="entry-content">

                <div class="read-more">
                  <a href="{% url 'blogs:recipes1' %}">Read More</a>
                </div>
              </div>

            </article><!-- End blog entry -->
          </div>

          <div class="col-lg-4  col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <article class="entry">

              <div class="entry-img">
                <img src="{% static '\img\meal2.PNG' %}" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="{% url 'blogs:recipes2' %}">Herbed Couscous with Grilled Zucchini</a>
              </h2>



              <div class="entry-content">

                <div class="read-more">
                  <a href="{% url 'blogs:recipes2' %}">Read More</a>
                </div>
              </div>

            </article><!-- End blog entry -->
          </div>

          <div class="col-lg-4  col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <article class="entry">

              <div class="entry-img">
                <img src="{% static '\img\meal3.PNG' %}" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="{% url 'blogs:recipes3' %}">Sweet Potato Chickpea Curry</a>
              </h2>


              <div class="entry-content">

                <div class="read-more">
                  <a href="{% url 'blogs:recipes3' %}">Read More</a>
                </div>
              </div>

            </article><!-- End blog entry -->
          </div>

          <div class="col-lg-4  col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <article class="entry">

              <div class="entry-img">
                <img src="{% static '\img\meal4.PNG' %}" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="{% url 'blogs:recipes4' %}">Roasted Baby Potato Summer Salad</a>
              </h2>


              <div class="entry-content">

                <div class="read-more">
                  <a href="{% url 'blogs:recipes4' %}">Read More</a>
                </div>
              </div>

            </article><!-- End blog entry -->
          </div>

          <div class="col-lg-4  col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <article class="entry">

              <div class="entry-img">
                <img src="{% static '\img\meal5.PNG' %}" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="{% url 'blogs:recipes5' %}">Lentils With Herbs and Grilled Veggies</a>
              </h2>



              <div class="entry-content">

                <div class="read-more">
                  <a href="{% url 'blogs:recipes5' %}">Read More</a>
                </div>
              </div>

            </article><!-- End blog entry -->
          </div>

          <div class="col-lg-4  col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <article class="entry">

              <div class="entry-img">
                <img src="{% static '\img\meal6.PNG' %}" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="{% url 'blogs:recipes6' %}">Vegan Spaghetti Bolognese</a>
              </h2>



              <div class="entry-content">

                <div class="read-more">
                  <a href="{% url 'blogs:recipes6' %}">Read More</a>
                </div>
              </div>
            </article><!-- End blog entry -->



          </div>



        </div>
    </section><!-- End Blog Section -->


    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container">

        <div class="row">

          <div class="col-lg-4  col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <article class="entry">

              <div class="entry-img">
                <img src="{% static '\img\meal7.PNG' %}" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="{% url 'blogs:recipes7' %}">Oven Roasted Potatoes</a>

              </h2>
              <div class="entry-content">

                <div class="read-more">
                  <a href="{% url 'blogs:recipes7' %}">Read More</a>
                </div>
              </div>




            </article><!-- End blog entry -->
          </div>

          <div class="col-lg-4  col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <article class="entry">

              <div class="entry-img">
                <img src="{% static '\img\meal8.PNG' %}" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="{% url 'blogs:recipes8' %}">Mushroom Cream Pasta</a>
              </h2>



              <div class="entry-content">

                <div class="read-more">
                  <a href="{% url 'blogs:recipes8' %}">Read More</a>
                </div>
              </div>

            </article><!-- End blog entry -->
          </div>

          <div class="col-lg-4  col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <article class="entry">

              <div class="entry-img">
                <img src="{% static '\img\meal9.PNG' %}" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="{% url 'blogs:recipes9' %}">Spinach with Mushrooms and Cream</a>
              </h2>


              <div class="entry-content">

                <div class="read-more">
                  <a href="{% url 'blogs:recipes9' %}">Read More</a>
                </div>
              </div>

            </article><!-- End blog entry -->
          </div>


        </div>
        </article><!-- End blog entry -->


      </div>


      </div>
    </section><!-- End Blog Section -->


  </main><!-- End #main -->
{% endblock body_content %}
