{% extends 'base.html' %}
{% load static %}
<html lang="en">
{% block title %}
Recipe
{% endblock title %}
{% block body_content %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="breadcrumb-hero">
        <div class="container">
          <div class="breadcrumb-hero">

          </div>
        </div>
      </div>

    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container">

        <div class="row">

          <div class="col-lg-8 entries">

            <article class="entry entry-single">

              <div class="entry-img">
                <img src="{% static '\img\meal3.PNG' %}" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="{% url 'blogs:recipes3' %}">Sweet Potato Chickpea Curry</a>
              </h2>


              <div class="entry-content">
                <h3 class="sidebar-title">Method</h3>


                <p>
                  1- Chop the garlic and ginger finely then dice the onion.

                <p>
                  2-Peel the sweet potato and cut it into 2x2cm cubes and Cut the tomatoes into 1x1cm cubes.
                </p>
                <p>
                  3-Drain and rinse the chickpeas under running cold water and Heat the oil in a heavy bottom deep pan.
                </p>
                <p>
                  4-Add the onions and sauté for few minutes until slightly golden then Add the garlic, ginger and
                  spices and sauté until fragrant
                </p>
                <p>
                  5-Put the sweet potatoes in the pan add water, enough to cover all the potatoes then Season with salt
                  and pepper.
                </p>
                <p>
                  6-Bring it to a boil and let it cook for 10-15 minutes
                </p>
                <p>
                  7-Add the chickpeas, tomatoes and let it cook uncovered for 5-10 minutes
                </p>
                <p>
                  8-Once the potatoes are cooked through and starting to break slightly, add the coconut milk and adjust
                  the seasoning.
                </p>
                <p>
                  9-Bring it to a boil, add coriander and turn off the heat.
                </p>
                <p>
                  10-Serve immediately with warm brown rice.

                </p>






            </article><!-- End blog entry -->

          </div><!-- End blog entries list -->

          <div class="col-lg-4">



            <h3 class="sidebar-title">INGREDIENTS</h3>
            <div class="sidebar-item categories">
              <ul>
                <li><a>1 large sweet potato</a></li>
                <li><a>1 400g can chickpeas </a></li>
                <li><a>1 large white sweet onion</a></li>
                <li><a>2 medium tomatoes</a></li>
                <li><a>2 garlic cloves ></a></li>
                <li><a>thumb size piece of ginger </a></li>
                <li><a>2tbs olive oil </a></li>
                <li><a>1/4tsp turmeric </a></li>
                <li><a>sea salt, pepper</a></li>
                <li><a>1/2tsp cinnamon</a></li>
                <li><a>1/2tsp curry powder </a></li>
                <li><a>1/2 coconut milk </a></li>
                <li><a>coriander leaves </a></li>
                <li><a>brown rice to serve</a></li>
              </ul>

            </div><!-- End sidebar categories-->




          </div><!-- End sidebar -->

        </div><!-- End blog sidebar -->

      </div>

      </div>
      <a href="{% url 'blogs:recipes' %}" class="btn btn-success btn-lg btn-block"> Go Back To recipes </a>
      <br>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->
{% endblock body_content %}
