{% extends 'base.html' %}
{%block title%}
  Create Profile Page
{%endblock title%}

{% block content %}
    {% if user.is_authenticated%}
        <h1>Create Profile</h1>
        <div class="form-group"></div>
        <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="" value="Create Profile" class= "btn btn-secondary">
        </form>
        </div>
    {% else %}
        You can't perform this action
    {% endif %}
{% endblock content %}
