{% extends 'base.html' %}
{%block title%}
  Edit Profile
{%endblock title%}

{% block body_content %}
<main id="main">
 <section id="breadcrumbs" class="breadcrumbs">
      <div class="breadcrumb-hero">
        <div class="container">
          <div class="breadcrumb-hero">
            <h2 style="text-align: center;">Edit Profile other</h2>
          </div>
        </div>
      </div>
{{ User.Profile.bio }}
  <div class="form-group"></div>
    <form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <button class= "btn btn-secondary">Update Profile</button>
    </form>
  </div>
  </section>
</main>
{% endblock body_content %}
