{% extends 'base.html' %}
{% load bootstrap3 %}
{%block title%}
  Login
{%endblock title%}

{% block body_content %}
<div class="container" style="position:relative;margin-top:70px;">
    <h2>Login</h2>
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" value="Login" class="btn btn-success btn-lg btn-block">
        <br>
        <h5>Not Registered ? Sign Up <a href="{% url 'users:signup' %}">Here.</a></h5>
    </form>
</div>
{% endblock body_content %}
<!-- <main id="main">
 <section id="breadcrumbs" class="breadcrumbs">
      <div class="breadcrumb-hero">
        <div class="container">
          <div class="breadcrumb-hero">
            <h2 style="text-align: center;">Login</h2>
            {% if user.profile.id %}
                <h3 style="text-align: center; font-size:18px;"><a href="{% url 'users:edit_profile_page' user.profile.id %}">Edit Profile Page</a></h3>
                {% comment %} <h3 style="text-align: center; font-size:18px;"><a href="{% url 'users:edit_profile' %}">Edit Profile</a></h3> {% endcomment %}
            {% endif %}
          </div>
        </div>
      </div><br>

  <div class="form-group">
    <form action="" method="post">{% csrf_token %}
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Username" name='username'>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" name='password'>
      </div>
    <input type="submit" name="" value="Login" class= "btn btn-secondary">
    <p>Not Registered? Sign Up <a href="{% url 'users:signup' %}">Here.</a></p>
    </form>
  </div>
  </section>
</main> -->
