{% extends 'base.html' %}
{%block title%}
  Password Updated
{%endblock title%}

{% block body_content %}
<main id="main">
 <section id="breadcrumbs" class="breadcrumbs">
      <div class="breadcrumb-hero">
        <div class="container">
          <div class="breadcrumb-hero">
            <h2 style="text-align: center;">Your Password Changed Successfully..</h2>
          </div>
        </div>
      </div>
      <h2 style="text-align: center;"><a href="{% url 'users:show_profile' user.profile.id %}">Go Back to profile</a></h2>
    </section>
</main>
{% endblock body_content %}
