{% extends 'base.html' %}
{% load static %}
{%block title%}
    Doctor's Posts
{%endblock title%}

{% block body_content %}
<br><br>
<main id="main">

    <section id="blog" class="blog">
    {% if object_list %}
    {% for post in object_list %}
      <div class="container">

        <div class="row">

          <div class="col-lg-4  col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <article class="entry">

              {%if post.header_image%}
              <div class="entry-img">
                <img src="{{post.header_image.url}}" alt="" class="img-fluid">
              </div>
              {% endif %}

              <h2 class="entry-title">
                <a href="{% url 'blogs:post_detail' post.pk %}"><p>{{post.title}}</p></a>
              </h2>
              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="icofont-user"></i> <a href={% url 'users:show_profile' post.author.profile.id %}><p>{{post.author.get_full_name}}</p></a></li>
                  <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i><p>{{post.post_date}}</p></li>
                </ul>
              </div>

              {% comment %} post content {% endcomment %}
              <div class="entry-content">
                <p>
                  {{post.body}}
                </p>
                <div class="read-more">
                  <a href="{% url 'blogs:post_detail' post.pk %}">Read More</a>
                </div>
              </div>

            </article><!-- End blog entry -->
          </div>
          </div>
          {% comment %} {% endif %} {% endcomment %}
          {% endfor %}
          {% else %}
          <p>No</p>
          {% endif %}
      </div>

</section>
{% endblock body_content %}
