{% extends 'base.html' %}

{% block body_content %}
<main id="main">
 <section id="breadcrumbs" class="breadcrumbs">
      <div class="breadcrumb-hero">
        <div class="container">
          <div class="breadcrumb-hero">
            <h2 style="text-align: center;">Edit Post</h2>
          </div>
        </div>
      </div>

      {% if user.id == post.author.id %}
      <div class="form-group"></div>
      <form action="" method="post">{% csrf_token %}
      {{ form.as_p }}
        <input type="submit" name="" value="Update" class= "btn btn-secondary">
      </form>
      </div>
      {%else%}
        You are not allowed to edit
      {%endif%}

  </section>
</main>
{% endblock body_content %}
