{% extends 'base.html' %}
{% load bootstrap3 %}
{%block title%}
  Create New Post
{%endblock title%}

{% block body_content %}
<div class="container" style="position:relative;margin-top:70px;">
    <h2>Create Post</h2>
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" value="Create" class="btn btn-success btn-lg btn-block">
    </form>
</div>
{% endblock body_content %}
<!-- <main id="main">
 <section id="breadcrumbs" class="breadcrumbs">
      <div class="breadcrumb-hero">
        <div class="container">
          <div class="breadcrumb-hero">
            <h2 style="text-align: center;">New Post</h2>
          </div>
        </div>
      </div>

  {% if user.is_authenticated%}
    <div class="form-group"></div>
      <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" name="" value="Save" class= "btn btn-secondary">
      </form>
    </div>
  {% else %}
    You can't perform this action
  {% endif %}
  </section>
</main> -->
